
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(0, 149, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}


h1 {
    color: white;
    margin-bottom: 100px;
    font-size: 125px;
}


form {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    
}

label{
    font-size: 23px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}


button {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 149, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 120, 210);
}
