body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(0, 149, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}


h1 {
    color: white;
    margin-bottom: 100px;
    font-size: 70px;
}

h2{
    color:rgb(0, 158, 0);
    font-size: 25px;
}


form {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    width: 600px;
    
}

label{
    font-size: 23px;
}



button {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 149, 255);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 30px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 149, 255);
    font-size: 30px;
}

.img_logo {
    background-color:white;
    border-radius:200px;
    margin-top: 100px;
}

.img_candado{
    background-color:white;
    border-radius:200px;
    width: 40px;
}

a{
    font-size: 22.5px;
    align-items: center;
}

.comeback{
    display:block;
    text-align: center;
}

.campo {
    display: block;       
    width: 100%;          
    margin-bottom: 15px;  
    font-size: 25px;
}

.campo input {
    width: 75%;         
    padding: 10px;
    font-size: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}